.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin: auto;
    height: 80px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.303);
}
.link{
    text-decoration: none;
    margin-left: 15px;
    font-size: 15px;
    color: #3a3a3a;
    transition: color ease-in-out 300ms;
}
.link:hover{
    border-bottom: 2px solid #4b45f5;
}
.active-link {
    text-decoration: none;
    margin-left: 15px;
    font-size: 18px;
    border-bottom: 2px solid #4b45f5;
    transition: color ease-in-out 300ms;
    color: #4b45f5;
  }